# Prerequisites
*.d

# Visual Studio folders
.vs
.vscode

# Compiled Object files
*.slo
*.lo
*.o
build/*.obj
*.elf
*.lst
*.nds
*.map
build/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CMake files
CMakeUserPresets.json
